
/IGLibEventAggregator/.git
/IGLibEventAggregator/.git1
/IGLibEventAggregator/.git*
/IGLibEventAggregator/EventAggregator/obj/
/IGLibEventAggregator/EventAggregatorTests/obj/
/IGLibEventAggregator1
/IGLibEventAggregator11
/IGLibEventAggregator2
/IGLibEventAggregator22
