
/IGLibEventAggregator/.git
/IGLibEventAggregator/.git1
/IGLibEventAggregator/.git*
/IGLibEventAggregator/EventAggregator/obj/
/IGLibEventAggregator/EventAggregatorTests/obj/
/IGLibEventAggregator/1
/IGLibEventAggregator/11
/IGLibEventAggregator/2
/IGLibEventAggregator/22
